body {
  background-color: #202124;
}

.footer {
  /* background-color: rgb(31, 31, 31);
  height: 3em;
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0; */
}

.leftNav {
  /* border: none;
  background-color: transparent;
  color: blue; */
}

.rightNav {
  /* border: none;
  background-color: transparent;
  color: blue;
  position: absolute; */
  
}
