body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftNav {
  color: #bdc1c6;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left: 1%;
  margin-top: 1%;
}

.leftNav:hover {
  text-decoration: underline;
}

.rightNav {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left: 83%;
  margin-top: 1%;
}

.rightNav:hover {
  text-decoration: underline;
}

.searchBar {
  border-radius: 25px;
  height: 3em;
  width: 40em;
  background-color: #202124;
  border-color: #bdc1c6;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  margin: auto;
  top: -18%;
  right: 0;
  bottom: 0;
  left: 0;
}

.searchBtns1 {
  color: #e8eaed;
  background-color: #303134;
  height: 2.5rem;
  border-color: transparent;
  border-radius: 5px;
  position: absolute;
  margin: auto;
  left: 43%;
  top: 45%;
}
.searchBtns2 {
  color: #e8eaed;
  background-color: #303134;
  height: 2.5rem;
  border-color: transparent;
  border-radius: 5px;
  position: absolute;
  margin: auto;
  left: 49%;
  top: 45%;
}

.title {
  color: white;
  font-size: 5em;
  font-weight: 550;
  letter-spacing: -3px;
  position: absolute;
  margin: auto;
  top: 25%;
  left: 43.5%;
}

.bento-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 95%;
  bottom: 96%;
}

.bento-dot {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background: #e8eaed;
  overflow: hidden;
}

.bento-menu:hover {
  cursor: pointer;
  background-color: #3b3b3b9a;
  border-color: #3b3b3b9a;
  border-style: solid;
  border-radius: 35px;
  border-width: 13px;
  position: absolute;
  left: 94.3%;
  bottom: 94.7%;
  opacity: 1;
}

.footer {
  background-color: rgb(31, 31, 31);
  height: 3em;
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.leftFooter {
  border: none;
  background-color: transparent;
  color: rgb(212, 212, 219);
  position: relative;
  left: 2%;
  top: 25%;
}

.rightFooter {
  border: none;
  background-color: transparent;
  color: rgb(225, 225, 230);
  position: relative;
  left: 75%;
  top: 25%;
}